- name: Install git
  apt: name=git state=present update_cache=yes

- name: Download kubernetes repo
  git: repo=https://github.com/GoogleCloudPlatform/kubernetes.git dest=/root/kubernetes.git force=yes version={{ version }}
  notify: build kubernetes

- name: Build kubernetes
  meta: flush_handlers

- name: Create link to kubectl binary
  file: src=/root/kubernetes.git/cluster/ubuntu/binaries/kubectl dest=/usr/local/bin/kubectl owner=root group=root state=link

- name: Configure ssh. Create /root/.ssh directory
  file: path=/root/.ssh state=directory owner=root group=root mode=0700

- name: Configure ssh. Send id_rsa file
  copy: src=id_rsa dest=/root/.ssh/id_rsa owner=root group=root mode=0700

- name: Configure ssh. Send authorized_keys file
  copy: src=authorized_keys dest=/root/.ssh/authorized_keys owner=root group=root mode=0700

- name: Configure and deploy kubernetes
  template: src=config-default.sh.j2 dest=/root/kubernetes.git/cluster/ubuntu/config-default.sh
  notify:
  - deploy kubernetes
  - deploy addons

- name: flush handlers
  meta: flush_handlers
